<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <a class="Login-Link" slot="end" (click)="doLogin()">Login</a>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="no-scroll content-background">
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="logo"></div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="2">
                    <img src="../../assets/images/icon-change-login-password.svg" />
                </ion-col>
                <ion-col size="7">
                    <input type="text" class="input-icon-password" *ngIf="showNewPassword"
                        [(ngModel)]="Model.NewPassword" />
                    <input type="password" class="input-icon-password" *ngIf="!showNewPassword"
                        [(ngModel)]="Model.NewPassword" />
                    <ion-icon name="eye" class="eye-button" *ngIf="showNewPassword" (click)="doShowNewPassword(false)">
                    </ion-icon>
                    <ion-icon name="eye-off" class="eye-button" *ngIf="!showNewPassword" (click)="doShowNewPassword(true)">
                    </ion-icon>
                    <span class="forgot-password-span">Please key in your new password</span>
                    <p class="forgot-password-span">
                        Password must be 8-20
                        characters,<br /> 1 letter, 1 CAPS.
                    </p>
                </ion-col>
                <ion-col size="2">

                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="2">
                    <img src="../../assets/images/icon-confirm-password.svg" />
                </ion-col>
                <ion-col size="7">
                    <input type="text" class="input-icon-password" *ngIf="showConfirmPassword"
                        [(ngModel)]="Model.ConfirmPassword" />
                    <input type="password" class="input-icon-password" *ngIf="!showConfirmPassword"
                        [(ngModel)]="Model.ConfirmPassword" />
                    <ion-icon name="eye" class="eye-button" *ngIf="showConfirmPassword" (click)="doShowConfirmPassword(false)">
                    </ion-icon>
                    <ion-icon name="eye-off" class="eye-button" *ngIf="!showConfirmPassword" (click)="doShowConfirmPassword(true)">
                    </ion-icon>
                    <span class="forgot-password-span">Please confirm your password</span>
                </ion-col>
                <ion-col size="2">

                </ion-col>

            </ion-row>
            <ion-row *ngIf="ErrorMessage != ''">
                <ion-col>
                    <ion-item text-wrap color="danger">
                        {{ErrorMessage}}
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="next-button" (click)="doNext()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>