<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <!-- <a class="Login-Link" slot="end" (click)="doLogin()">Login</a> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="no-scroll content-background">
  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="logo"></div>
        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3 class="warningMessage">You're not a member yet</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="text-center">Do you want to register with :</p>
            <h4 class="text-center">{{Model.Phone}}</h4>
            <p class="text-center" style="font-size: 9.6px;font-family: 'GothamRoundedLight'!important">An OTP will be
              sent to the above mobile number</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="10">
            <div class="checkbox-container">
                <ion-toggle [(ngModel)]="Model.Over18"></ion-toggle>
              <p class="checkbox-child">I’m over 18 years old</p>
            </div>
            <div class="checkbox-container">
              <ion-toggle [(ngModel)]="Model.AgreeWithTerms"></ion-toggle>
              <p class="checkbox-child">I’ve read the <a (click)="doShowPricay()">Privacy Policy</a></p>
            </div>
            <span color="danger" class="errormessage" *ngIf="ErrorMessage != ''">{{ErrorMessage}}</span>
          </ion-col>
          <ion-col size="1"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="next-button" (click)="doNext()">
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
  </ion-fab>
  
</ion-content>