<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <a  slot="end" (click)="doNext()" style="font-size: 18px;color: #b9b9b9;padding:10px">
              <ion-icon name="close"></ion-icon>
            </a>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
<ion-content>
  <div class="container">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <div class="logo"></div>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <h3 class="SuccessMessage">Success!</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="text-center">Thank you for your payment.</p>
            </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</ion-content>
