<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="no-scroll content-background">
    <div class="container">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <div class="logo"></div>
                </ion-col>
            </ion-row>
            <br />
            <!-- <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                    <h3 class="text-center">{{Model.Phone}}</h3>
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row> -->
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                    <div class="input-container">
                        <input type="tel" class="input-icon" [(ngModel)]="Model.Phone" maxlength="13" />
                        <img src="../../assets/images/icon-smart-phone.svg" class="input--icon" disabled="disabled"/>
                    </div>
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                    <div class="input-container">
                        <input type="email" class="input-icon-password" [(ngModel)]="Model.Email"/>
                        <img src="../../assets/images/icon-email.svg" class="input--icon" />
                        <br />
                        <span class="input-message">Please key in your email address </span>
                    </div>
                </ion-col>
                <ion-col size="1"></ion-col>
            </ion-row>
            <!-- <br/>
            <ion-row *ngIf="ErrorMessage">
                <ion-col>
                    <p class="error-message" >{{ErrorMessage}}</p>
                </ion-col>
            </ion-row>     
            <ion-row>
                <ion-col size="3"></ion-col>
                <ion-col size="6">
                    <ion-button fill="outline" expand="block" color="success" (click)="doNext()"><ion-icon name="checkmark"></ion-icon> Confirm Reset</ion-button>
                </ion-col>

                <ion-col size="3"></ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="3"></ion-col>
                <ion-col size="6">
                    <ion-button fill="outline" expand="block" color="danger" (click)="doCancel()"><ion-icon name="close"></ion-icon> Cancel</ion-button>
                </ion-col>
                <ion-col size="3"></ion-col>
            </ion-row> -->
        </ion-grid>

    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button class="next-button" (click)="doNext()">
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>