<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <!-- <a class="Login-Link" slot="end">Login</a> -->
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
<ion-content>
<div class="container">
    <ion-grid>
        <ion-row>
            <ion-col>
                <div class="logo"></div>
            </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              <h5 class="warningMessage">Credit Card Information</h5>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="showCard">
            <ion-col>
                <div class="card-data-container">
                        <img src='../../assets/images/visa.png'/>
                        <img class="card-logo" src={{CardTypeResource}}/>
                        <p class="card-name">{{Model.Name}}</p>
                        <p class="card-expire-date">{{Model.ExpireDate}}</p>

                </div>
                
            </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col size="12" style="padding:0;margin: 0">              
              <input type="tel" placeholder="Card number" [(ngModel)]="Model.CreditCard" class="creditcard-input" maxlength="16" (keydown)="doOnKeyDown($event)" (change)="doDetermineCard()"/>            
          </ion-col>
          <ion-col size="6" style="padding:0;margin: 0"  class="creditcard-datepicker">
              <ion-datetime min="2018" max="2030" display-format="MM / YY" picker-format="MMM YYYY" [(ngModel)]="Model.ExpireDate" style="padding-left:25px"></ion-datetime>
          </ion-col>
          <ion-col size="6" style="padding:0;margin: 0" class="creditcard-cvv">
              <input type="tel" [(ngModel)]="Model.CVV" (keydown)="doOnKeyDown($event)" maxlength="4" placeholder="CVV"/>
          </ion-col>
          <ion-col size="12">
              <input type="text" [(ngModel)]="Model.Name" class="creditcard-input" placeholder="Name"/>
          </ion-col>
        </ion-row>
    </ion-grid>
    <ion-fab-button class="next-button" (click)="doNext()">
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-fab-button>
</div>
</ion-content>
