@font-face {
    font-family: 'GothamRoundedBold';
    src: url('../assets/fonts/GothamRoundedBold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
  }


  @font-face {
    font-family: 'GothamRoundedBook';
    src: url('../assets/fonts/GothamRoundedBook.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  

  @font-face {
    font-family: 'GothamRoundedLight';
    src: url('../assets/fonts/GothamRoundedLight.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }


  @font-face {
    font-family: 'GothamRoundedMedium';
    src: url('../assets/fonts/GothamRoundedMedium.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }
