<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>A-Wallet History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>


  <ion-list>
    <ion-item *ngFor="let item of WalletHistory.Transactions" lines="none" class="history-item">
      <ion-label class="history-item-title">{{item.DateTime | date :'dd MMM yyyy'}}</ion-label>
      <ion-label class="history-item-description" text-wrap>{{item.Remark}}</ion-label>
      <ion-label class="history-item-type-sent" *ngIf="item.Color == '009245'">{{item.Amount}}</ion-label>
      <ion-label class="history-item-type-resend" *ngIf="item.Color == 'B32025'">{{item.Amount}}</ion-label>
      <ion-label class="history-item-type-joined" *ngIf="item.Color != '009245' && item.Color != 'B32025'">
        {{item.Amount}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-grid *ngIf="onLoading">
    <ion-row>
      <ion-col class="text-center">
        <ion-spinner name="dots" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)" loadingSpinner="bubbles"
    loadingText="Loading more data...">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>