<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title class="text-center"></ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-col padding>
        <img src='../../assets/images/Js_SignUpBenefits-03.png'/>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <h5 style="color:#fbb03b;font-weight: bold;text-align: center">Sign up as JomSave Member to enjoy these extraordinary perks</h5>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding>
          <p>. Earn unlimited RM30 premium <br/> referral incentive.</p>
          <p>. Enjoy a 3-level network premium referral incentive.</p>
          <p>. Enjoy instant premium vouchers worth up to RM1,000. </p>
          <p>. Enjoy Guaranteed Best Deals.</p>
          <p>. Special premium member rate.</p>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
