<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="dark"></ion-back-button>
        <ion-title class="text-center">Change Login Password</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div class="container">
    <ion-grid>
      <!-- <ion-row>
        <ion-col>
            <div class="text-center">
                <img src='../../assets/images/jomsave_logo.svg' width="100"/>
            </div>
        </ion-col>
      </ion-row> -->
      <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="2">
            <img src="../../assets/images/icon-change-login-password.svg" />
          </ion-col>
          <ion-col size="7">
            <input type="password" class="forgot-password-input" [(ngModel)]="Model.Password" />
            <span class="forgot-password-span">Please key in your current password</span>
          </ion-col>
          <ion-col size="2">
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="2">
          <img src="../../assets/images/icon-confirm-password.svg" />
        </ion-col>
        <ion-col size="7">
          <input type="password" class="forgot-password-input" [(ngModel)]="Model.NewPassword" />
          <span class="forgot-password-span">Please key in your new password</span>
          <p class="forgot-password-span">
            Password must be 8-20
            characters,<br /> 1 letter, 1 CAPS.
          </p>
        </ion-col>
        <ion-col size="2">

        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="2">
          <img src="../../assets/images/icon-confirm-password.svg" />
        </ion-col>
        <ion-col size="7">
          <input type="password" class="forgot-password-input" [(ngModel)]="Model.ConfirmPassword"
            (change)="doCheckPassword" />
          <span class="forgot-password-span">Please confirm your password</span>
        </ion-col>
        <ion-col size="2">

        </ion-col>

      </ion-row>
      <ion-row *ngIf="ErrorMessage != ''">
        <ion-col>
          <ion-item text-wrap color="danger">
            {{ErrorMessage}}
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button class="next-button" (click)="doNext()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>